*{
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}
h1 h2 h3 h4 h5 h6 {
    font-family:'Poppins', sans-serif;
    font-weight:800 px ;
}
header{
    background-color: black;
    height: 80px;
    width: 100%;
    padding: 18px 0;
    display: flex;
    justify-content: center;
    
}

.head-container{
  
    height: 100%;
    width: 1200px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.logo{
    height: 100%;
}
.nav-list{
    display: flex;
    flex-direction: row;
     
}
.nav-list li{
    margin-left: 35px;
   

}
.nav-link{
    color: white;
    text-decoration: none;
    font-family: poppins;
    font-weight: 600px;
}
.sec-1{
    background-color: #ffcdd2;
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;

}

.container{
  max-width: 1200px;
  width: 100%;
  
  
}
.sec-1 .container{
    display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

}
/*.sl-con{
    display: flex;
  flex-direction: row;
  justify-content: space-between;

}*/
.img-con{
     padding: 40px 0;
}
.sec1-img{
    height: 100%;
    width: 400px;
    margin-left: 50px;
   
}
h1{
    font-size: 40px;
    font-family:'Poppins', sans-serif;

}
p{
    font-size: 24px;
    line-height: 60px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400px;
}
.sec1-left{
    display: flex;
    flex-direction: column;
    width: 628px;
   padding-top: 35px;
    

}
.link-but{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    
}
.black-but{
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 12px 20px ;
    border-radius: 24px;
    font-family: poppins;
    font-weight: 600;
    font-size: 14px;
}
.bord-but{
    border: 1px solid black;
    color: black;
    text-decoration: none;
    padding: 12px 30px;
    border-radius: 24px;
    font-family: poppins;
    font-weight: 600;
    font-size: 14px;
    margin-left:20px;

}
.terms{
    font-size: 12px;
    margin-top: 50px;
}
.t-c{
    color: black;
}
.sec2-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 480px;
    padding-top: 72px;
    background-color: #f8f8f8;
    
}
.sec2-con .container{
    display: flex;
    flex-direction: column;
    align-items: center;

}
h2{
    font-size: 38px;
    font-family: poppins;
    font-weight: 600;
}
.sec-3 h2{
    margin-bottom: 71px;
    font-family: 'Poppins', sans-serif;
}
.sec-p{
    margin-top: 30px;
    font-size: 23px;
    font-family: 'Poppins', sans-serif;


}
.store-link{
    height: 35px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 35px;

}
.store-link a{
    margin-left: 10px;
}

.dwnld-terms{
    margin-top: 40px;
    font-size: 10px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.dicovery-img{
    border-radius: 75%;
}
.sec-3{
display: flex;
flex-direction: row;
justify-content:center;
    
}
.sec-3 .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 75px;
    padding-bottom: 75px;
}
.why-ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    list-style: none;
}
.why-li img{
    width: 142px;
    height: 142px;
    
}
.why-li p{
    font-size: 16px;
}
.why-li h3{
    font-size: 21px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-top: 35px;
}
.why-li{
    text-align: center;
}
.sec-4{
    background-color: #f8f8f8;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.sec-4 .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 75px 0;
}
.sec-4 h2{
    margin-bottom: 10px;
    
}
.plan-ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.sec-4 h3{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 60px;

}
   
.plan-list{
    width: 380px;
    height: auto;
    background-color: white;
    margin-left: 30px;
    list-style: none;
    box-shadow: 0px  0px 10px 0px rgb(132, 132, 132);
    border-radius: 10px;
    padding: 20px;
}
.plan-list .box{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(114, 114, 197);
    color: white;
    width:120px;
    padding: 4px 8px;
    border-radius: 5px;
    text-align: center;
    font-weight:600;
    font-size: 14px;
    line-height: 28px;
}
.plan-list h4{
    font-family:'Poppins', sans-serif;
    margin-top: 10px;
    font-size: 24px;
    font-weight: 600;
}
.plan-list p{
    font-size: 16px;
    line-height: 16px;
    margin-top: 5px;
}
.plan-list h5{
    font-family: 'Poppins', sans-serif;
    
    font-size: 16px;
    font-weight: 400;
    margin-top: 2px;
    margin-bottom: 20px;
}
.card-li{
    display: flex;
    flex-direction: row;
    justify-content:start;
    margin-bottom: 5px;
}
.card-li p{
    margin-left: 10px;
}
.card-ul{
    margin-top: 30px;
}
.get-started{
    text-decoration: none;
    color: white;
    font-size: 14px;
    height: 48px;
    text-align: center;

}
.button{
    text-align: center;
    background-color: black;
    height: 48px;
    width: 100%;
    display: flex;
    flex-direction: column;
   align-items: center;
   padding: 14px 0;
   border-radius: 75px;
   margin-top: 40px;
   margin-bottom: 20px;
}
.first-bt{
   
  
   margin-top: 61px;
 
}
.btn-third{
    margin-top: 91px;
}
.plan-list .account{
    margin-bottom: 58px;
}
.plan-list .basic{
    margin-top: 0;
}